# Conference Names Fix

Jupyter Notebook for the fix of some conference names special cases, that I didn't notice during the first processing and scraping operations.

____________________________________________________________

For this process, the following CSV files are needed: ```out_citations_and_conferences_location_ready_v2.csv``` and ```out_citations_by_year_and_conferences_location_ready_v2```. 

The above files must be generated running the Notebook ```1 - Citation and Locations Dataset Preparation.ipynb``` that is contained in the ```4 - Citation and Conference Locations Data Cleanup``` folder of this project.

In [1]:
# Libraries Import
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)

## File Paths
Please set your working directory paths.

In [2]:
# ******************* PATHS ********************+

# Dumps Directory Path
path_file_import = r'/Users/marcoterzulli/File/Scuola Local/Magistrale/Materiale Corsi Attuali/Tirocinio/Cartella di Lavoro/Archivi Dump di Lavoro/Import/'

# CSV Exports Directory Path
path_file_export = r'/Users/marcoterzulli/File/Scuola Local/Magistrale/Materiale Corsi Attuali/Tirocinio/Cartella di Lavoro/Archivi Dump di Lavoro/Export/'

## Import of the Datasets

In [7]:
df_citations_and_locations = pd.read_csv(path_file_export + 'out_citations_and_conferences_location_ready_v2.csv', low_memory=False, index_col=[0])
print(f'Successfully Imported the Conference Citations and Locations Ready V2 CSV')

df_citations_by_year_and_locations = pd.read_csv(path_file_export + 'out_citations_by_year_and_conferences_location_ready_v2.csv', low_memory=False, index_col=[0])
print(f'Successfully Imported the Conference Citations by Year and Locations Ready V2 CSV')

Successfully Imported the Conference Citations and Locations Ready V2 CSV
Successfully Imported the Conference Citations by Year and Locations Ready V2 CSV

## Fix of the Conference Names Containing the ' Character

In [8]:
# Fix of the ConferenceNormalizedName
df_citations_and_locations.ConferenceNormalizedName = df_citations_and_locations.ConferenceNormalizedName.str.split(' ').str[0].str.split("'").str[0] + ' ' + df_citations_and_locations.ConferenceNormalizedName.str.split(' ').str[1]
df_citations_by_year_and_locations.ConferenceNormalizedName = df_citations_by_year_and_locations.ConferenceNormalizedName.str.split(' ').str[0].str.split("'").str[0] + ' ' + df_citations_by_year_and_locations.ConferenceNormalizedName.str.split(' ').str[1]

# Fix of the ConferenceSeriesNormalizedName
df_citations_and_locations.ConferenceSeriesNormalizedName = df_citations_and_locations.ConferenceSeriesNormalizedName.str.split("'").str[0]
df_citations_by_year_and_locations.ConferenceSeriesNormalizedName = df_citations_by_year_and_locations.ConferenceSeriesNormalizedName.str.split("'").str[0]

Check of the result:

In [12]:
df_citations_and_locations

,CitationCount_COCI,CitationCount_Mag,CitationCount_MagEstimated,ConferenceLocation,ConferenceNormalizedName,ConferenceSeriesNormalizedName,Doi,Year
0,10,12,12,"Austin, Texas, United States",disc 2014,disc,10.1007/978-3-662-45174-8_28,2014
1,5,10,10,"Wrocław, Lower Silesian Voivodeship, Poland",esa 2014,esa,10.1007/978-3-662-44777-2_60,2014
2,11,20,20,"Innsbruck, Tyrol, Austria",enter 2013,enter,10.1007/978-3-319-03973-2_13,2013
3,1,0,0,"Villefranche-sur-Saône, Auvergne-Rhône-Alpes, ...",dexa 2002,dexa,10.1007/3-540-46146-9_77,2002
4,9,19,19,"Zakopane, Lesser Poland Voivodeship, Poland",icaisc 2006,icaisc,10.1007/11785231_94,2006
...,...,...,...,...,...,...,...,...
3107878,4,0,0,"Thessaloniki, Macedonia and Thrace, Greece",sapere 2011,sapere,10.1007/978-3-642-31674-6_9,2011
3107879,4,0,0,"Thessaloniki, Macedonia and Thrace, Greece",sapere 2011,sapere,10.1007/978-3-642-31674-6_20,2011
3107880,2,0,0,"Thessaloniki, Macedonia and Thrace, Greece",sapere 2011,sapere,10.1007/978-3-642-31674-6_25,2011
3107881,0,0,0,"Thessaloniki, Macedonia and Thrace, Greece",sapere 2011,sapere,10.1007/978-3-642-31674-6_12,2011
3107882,3,0,0,"Thessaloniki, Macedonia and Thrace, Greece",sapere 2011,sapere,10.1007/978-3-642-31674-6_3,2011

In [11]:
df_citations_and_locations.loc[df_citations_and_locations['ConferenceSeriesNormalizedName'].str.contains("'", case=False)]

Empty DataFrame
Columns: [CitationCount_COCI, CitationCount_Mag, CitationCount_MagEstimated, ConferenceLocation, ConferenceNormalizedName, ConferenceSeriesNormalizedName, Doi, Year]
Index: []

## Write of the Final CSVs on Disk

Saving the resulting dataframe on disk in CSV format.

In [13]:
# Write of the resulting CSVs on Disk
df_citations_and_locations.to_csv(path_file_export + 'out_citations_and_conferences_location_ready_v3.csv')
print(f'Successfully Exported the Fixed CSV to {path_file_export}out_citations_and_conferences_location_ready_v3.csv')

df_citations_by_year_and_locations.to_csv(path_file_export + 'out_citations_by_year_and_conferences_location_ready_v3.csv')
print(f'Successfully Exported the Fixed CSV to {path_file_export}out_citations_by_year_and_conferences_location_ready_v3.csv')

Successfully Exported the Fixed CSV to /Users/marcoterzulli/File/Scuola Local/Magistrale/Materiale Corsi Attuali/Tirocinio/Cartella di Lavoro/Archivi Dump di Lavoro/Export/out_citations_and_conferences_location_ready_v3.csv
Successfully Exported the Fixed CSV to /Users/marcoterzulli/File/Scuola Local/Magistrale/Materiale Corsi Attuali/Tirocinio/Cartella di Lavoro/Archivi Dump di Lavoro/Export/out_citations_by_year_and_conferences_location_ready_v3.csv